<ion-header>
    <ion-toolbar text-center color='dark'>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Ejercicio 4</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position='stacked'>Introduce tu nombre abajo: </ion-label>
        <ion-input [(ngModel)]='name'></ion-input>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand='full' color='primary' (click)='sayHello()'>
                    Saluda
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h2 text-center>{{ hello }}</h2>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>