<ion-header>
    <ion-toolbar text-center color='dark'>
        <ion-title>
            Ejercicios básicos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color='light'>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button href='/ejercicio1' color='primary'>
                    ejercicio 1
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button href='/ejercicio2' color='secondary'>
                    ejercicio 2
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button href='/ejercicio3' color='tertiary'>
                    ejercicio 3
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button href='/ejercicio4' color='success'>
                    ejercicio 4
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button href='/ejercicio5' color='warning'>
                    ejercicio 5
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button href='/ejercicio6' color='danger'>
                    ejercicio 6
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button href='/ejercicio7' color='medium'>
                    ejercicio 7
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>