<ion-header>
    <ion-toolbar text-center color='dark'>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Ejercicio 5</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-item>
        <ion-label position='stacked'>Mínimo: </ion-label>
        <ion-input [(ngModel)]='min' type='number'></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position='stacked'>Máximo: </ion-label>
        <ion-input [(ngModel)]='max' type='number'></ion-input>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand='full' color='warning' (click)='generate()'>
                    Generar
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h2 text-center>{{ value }}</h2>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>